.day-block {
	background-color: white;
	border: 1px solid black;
	cursor: pointer;
	flex: 0 0 (100%/7);
	font-size: 24px;
	font-weight: bold;
	overflow: hidden;
	padding-bottom: 25px;
	position: relative;
	text-align: center;

	&:last-child {
		border-right: none;
	}

	& ion-icon {
		bottom: 5px;
		position: absolute;
		right: 5px;
	}
}

.day-container {
	background-color: #1b1b1b;
	border: 1px solid black;
	display: flex;
	flex-wrap: wrap;
}