.day-block {
	border-right: 1px solid black;
	cursor: pointer;
	flex-grow: 1;
	font-size: 24px;
	font-weight: bold;
	overflow: hidden;
	padding-bottom: 25px;
	position: relative;
	text-align: center;

	&:last-child {
		border-right: none;
	}

	& ion-icon {
		bottom: 5px;
		position: absolute;
		right: 5px;
	}
}

.week-block {
	border: 1px solid black;
	display: flex;
}