@import "./theme.scss";

// http://ionicframework.com/docs/theming/
/* Core CSS required for Ionic components to work properly */
@import "~@ionic/react/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/react/css/normalize.css";
@import "~@ionic/react/css/structure.css";
@import "~@ionic/react/css/typography.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/react/css/padding.css";
// @import "~@ionic/react/css/float-elements.css";
// @import "~@ionic/react/css/text-alignment.css";
// @import "~@ionic/react/css/text-transformation.css";
// @import "~@ionic/react/css/flex-utils.css";
// @import "~@ionic/react/css/display.css";

:root {
	--money-color: #4E9455;
	--debt-color: #C61F0C;
}

.money {
	color: var(--money-color);
	font-weight: bold;
}

// Precedence overrides
ion-item.item {
	& .money {
		@extend .money;
	}
	& .debt {
		@extend .debt;
	}
}

.debt {
	color: var(--debt-color);
	font-weight: bold;
}

html ion-app {
	&,
	* {
		-webkit-user-select: text !important;
		user-select: text !important;
	}
}

.image-logo-icon {
	background-color: white;
	background-image: url('/assets/icons/icon-transparent-32.png');
	background-size: contain;
	border-radius: 50%;
	display: inline-block;
	width: 24px;
	height: 24px;
	vertical-align: bottom;
}

:root {
	--ion-grid-padding: 0;
}

.ios-only {
	display: none;

	.ios & {
		display: initial;
	}
}

.md-only {
	display: none;

	.md & {
		display: initial;
	}
}


@media only screen and (max-width: 768px) {
	.hide-mobile {
		display: none;
	}
}
